<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.standalone.feature.other">

    <application
        android:theme="@style/Theme.Fumiya">

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.License" />
    </application>
</manifest>